# Ignorar arquivos de log
*.log

# Ignorar arquivos temporários
*.tmp

# Ignorar diretórios de build
/build/

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar configurações de IDE
.vscode/
.idea/

# Ignora variaveis de ambiente
.env